@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins',sans-serif;
}

h2 {
  text-align: center;
}

#navBar {
  position: fixed;
  font-family: "Ubuntu",sans-serif;
  z-index: 999;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#home, #about, #skills, #project {
  color: white;
}

#home:hover,
#about:hover,
#skills:hover,
#project:hover {
  background-color: #02D2D2;
}

a button {
  background-color: #02D2D2;
  border: 1px solid transparent;
  color: white;
  border-radius: 3px;
  font-size: 1.3rem;
  padding: 0.5rem;
}

a button:hover {
  background-color: white;
  border: 1px solid #02D2D2;
  color: #02D2D2;
}

.topBanner {
  background: linear-gradient(10deg, rgba(31, 30, 30, 0.322), rgba(31, 30, 30, 0.322)), url("../images/background.jpg");
  height: 90vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: "Ubuntu",sans-serif;
}

.nav-link {
  font-size: 1.3rem;
  border: solid 1px transparent;
  border-radius: 3px;
}

.navInfo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.profile {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.profile .profileImage {
  height: 250px;
  width: 250px;
  border: 6px solid white;
  border-radius: 125px;
  background: url("../images/profile21.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  margin-top: -7.5%;
  margin-left: 10%;
  margin-right: 10%;
}

.content a h2 {
  font-family: "Ubuntu",sans-serif;
  font-weight: 400;
  color: rgba(6, 201, 201, 0.849);
  letter-spacing: 6.6px;
}

.content .about .aboutImg {
  height: 70vh;
  background: url("../images/about2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 1px transparent;
  border-radius: 3px;
  width: 100vw;
}

.content .about .para {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.726)), to(rgba(255, 255, 255, 0.726))), url("../images/linebackground.png");
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.726), rgba(255, 255, 255, 0.726)), url("../images/linebackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  padding-left: 50px;
}

.content .about .para .paraPadding {
  padding: 20px;
}

.content .skills .skillData {
  width: 100vw;
}

.content .skills .skillData ul {
  list-style-type: none;
}

.content .skills .skillData ul li::marker {
  color: #02D2D2;
  content: "\2022";
  font-size: 2rem;
}

.content .skills .skillData ul li {
  padding: 0.8rem;
  font-size: 1.5rem;
  font-weight: 450;
  color: rgba(41, 40, 40, 0.89);
}

.content .skills .skillPro {
  padding: 0.8rem;
  width: 100vw;
}

.content .projects .projectData {
  width: 100vw;
}

.content .projects .carousel {
  width: 100vw;
}

.content .projects .carousel .carousel-item img {
  height: 350px;
  width: 350px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.199);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.199);
}

.sec1, .sec2 {
  margin-top: 20px;
}

.footer {
  color: white;
  background-color: #36454f;
  font-family:"Ubuntu",sans-serif;
}

.footer .sec1 {
  padding-left: 5%;
  padding-right: 5%;
  width: 100vw;
}

.footer .sec1 .footersec1 .slantline {
  width: 5.5px;
  background-color: #02D2D2;
  position: relative;
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
}

.footer .sec1 .footersec1 .myinfo {
  padding-left: 3.2%;
  font-weight: 450;
}

.footer .sec1 .footersec1 .myinfo .myname {
  padding-bottom: 5%;
  padding-right: 10%;
}

.footer .sec1 .footersec1 .myinfo i {
  font-size: 1.5rem;
  color: white;
}

.footer .sec1 .footersec1 .myinfo i:hover {
  color: #02D2D2;
}

.footer .sec2 {
  padding-left: 5%;
  padding-right: 5%;
  width: 100vw;
}

.footer .sec2 a {
  font-size: 1.5rem;
  color: white;
}

.footer .sec2 a i {
  padding-bottom: 3%;
  padding-right: 5%;
}

.footer .sec2 a i:hover {
  color: #02D2D2;
}

.copyright {
  background-color: #36454f;
  color: white;
  padding-left: 5%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.topButton {
  position: fixed;
  visibility: hidden;
  bottom: 30px;
  right: 30px;
  z-index: 100;
}

.topButton button {
  height: 45px;
  width: 42px;
  text-align: center;
  padding: 0px;
  line-height: 45px;
  background-color: #02D2D2;
  border-radius: 3.5px;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.topButton button:hover {
  background-color: transparent;
  border: 1px solid #02D2D2;
  color: #02D2D2;
}

.callButton {
  position: fixed;
  visibility: visible;
  bottom: 88px;
  right: 30px;
  z-index: 100;
}

.callButton button {
  height: 45px;
  width: 42px;
  text-align: center;
  padding: 0px;
  line-height: 45px;
  background-color: #02D2D2;
  border-radius: 3.5px;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.callButton button:hover {
  background-color: transparent;
  border: 1px solid #02D2D2;
  color: #02D2D2;
}

@media screen and (min-width: 320px) and (max-width: 760px) {
  .container-fluid {
    padding-bottom: var(--bs-gutter-x, 0.75rem);
  }
  #navbarNavAltMarkup {
    background-color: rgba(0, 0, 0, 0.82);
    margin: 0;
    padding: 10px 11px;
  }
  .topButton, .callButton {
    right: 10px;
  }
  .content {
    margin-top: -20%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .content a h2 {
    letter-spacing: 4.6px;
    /*text-transform: uppercase;*/
    font-family: "Ubuntu",sans-serif;
  }
  .content .about {
    margin-left: 5%;
    margin-right: 5%;
  }
  .content .about .aboutImg {
    background: url("../images/about3.jpeg") center no-repeat;
    background-size: cover;
    width: 90vw;
    padding-left: 0px;
  }
  .content .about .para {
    width: 90vw;
    padding-top: 20px;
    padding-left: 0px;
  }
  .content .about .para .paraPadding {
    padding: 10px;
  }
  .content .skills {
    margin-left: 5%;
    margin-right: 5%;
  }
  .content .skills .skillData {
    width: 90vw;
  }
  .content .skills .skillPro {
    padding-top: 20px;
    width: 90vw;
  }
  .content .projects {
    margin-left: 5%;
    margin-right: 5%;
  }
  .content .projects .projectData {
    width: 90vw;
  }
  .content .projects .carousel {
    width: 90vw;
    padding-top: 20px;
  }
  .content .projects .carousel .carousel-item img {
    height: 300px;
    width: 300px;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.199);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.199);
  }
  .footer .sec2 a i {
    padding-top: 10%;
    padding-bottom: 5%;
    padding-right: 5%;
  }
  .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=index.css.map */
